options SYNwall psk={{ params.psk }}{% if params.precision is defined %} precision={{ params.precision }}{% endif %}{% if params.disable_out is defined %} disable_out={{ params.disable_out }}{% endif %}{% if params.enable_antidos is defined %} enable_antidos={{ params.enable_antidos }}{% endif %}{% if params.enable_antispoof is defined %} enable_antispoof={{ params.enable_antispoof }}{% endif %}{% if params.load_delay is defined %} load_delay={{ params.load_delay }}{% endif %}{% if params.enable_udp is defined %}enable_udp={{ params.enable_udp }}{% endif %}{% if params.portk is defined %} portk={% for p in params.portk %}{% if loop.index == 1 %}{{ p }}{% else %},{{ p }}{% endif %}{% endfor %}{% endif %}
